<!DOCTYPE html>
<!-- Подключение thymeleaf и thymeleaf для Spring Security -->
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Подключение Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <title>HMS: Additional Services List</title>
  </head>
  <body>
    <div class="container">
      <h1>Список дополнительных услуг</h1>
      <p>Фильтры</p>
      <div>
        <select>
          <option selected disabled>-- Тип номера --</option>
          <!-- option'ы для каждого элемента выпадающего списка -->
        </select>
      </div>
      <div>
        <select>
          <option selected disabled>-- Статус --</option>
          <!-- option'ы для каждого элемента выпадающего списка -->
        </select>
      </div>

      <div>
        <label>Поиск</label>
        <input type="search" placeholder="-- Наименование --" />
      </div>

      <div>
        <a class="btn btn-success" th:href="@{/additional_service/add}">Добавить</a>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>№ п/п</th>
              <th>Наименование</th>
              <th>Тип/ы номера</th>
              <th>Статус</th>
              <th>Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="a, i : ${additionalServices}">
              <td th:text="${i.count}"></td>
              <td th:text="${a.name}"></td>
              <td>
                <ul class="list-group list-group-flush" th:each="r : ${a.roomTypeAdditionalServiceList}">
                  <li class="list-group-item" th:text="${r.roomType} ? ${r.roomType.name} : '-'"></li>
                </ul>
              </td>
              <td th:text="${a.availabilityStatus.name}"></td>
              <td>
                <a class="btn btn-primary" th:href="@{/additional_service/info/{id}(id=${a.id})}">Подробнее</a>
                <a class="btn btn-secondary" th:href="@{/additional_service/update/{id}(id=${a.id})}">Редактировать</a>
                <a class="btn btn-danger" th:href="@{/additional_service/delete/{id}(id=${a.id})}">Удалить</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Подключение скриптов -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
