<!DOCTYPE html>
<!-- Подключение thymeleaf и thymeleaf для Spring Security -->
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Подключение Bootstrap -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <title>HMS: Booking Add</title>
</head>
<body>
<div class="container">
    <h1 class="mb-4">Добавление нового бронирования</h1>

    <form th:action="@{/booking/add}" th:object="${booking}" method="post" class="mb-4">

        <div class="row mb-2">
            <div class="col">
                <label class="mb-1 form-label" for="client">Клиент</label>
                <select class="form-select" id="client" th:field="*{client}" required>
                    <option value="" selected hidden>Выберите</option>
                    <option th:each="client : ${clients}"
                            th:value="${client.id}"
                            th:text="${client.surname} + ' ' + ${client.name} + ' ' + ${client.patronymic}
                     + ' (' + '+' + ${client.phoneNumber} + ')'">
                    </option>
                </select>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                <label class="mb-1 form-label" for="">Дата заезда</label>
                <input type="date" class="form-control" id="check_in_date" th:field="*{checkInDate}" required/>
            </div>
            <div class="col">
                <label class="mb-1 form-label" for="">Дата выезда</label>
                <input type="date" class="form-control" id="check_out_date" th:field="*{checkOutDate}" required/>
            </div>
        </div>


        <div class="row mb-2">
            <label class="form-label" for="">Тип номера</label>

            <div class="input-group">
                <select class="form-select" th:field="*{roomType}" id="selectRoomType" required>
                    <option value="" selected hidden>Выберите</option>
                    <option th:each="type : ${roomTypes}"
                            th:value="${type.id}"
                            th:text="${type.name}">
                    </option>
                </select>
                <input type="number" class="form-control" min="0" th:field="*{roomsAmount}" placeholder="Количество"
                       id="amountRooms"
                       required disabled/>
            </div>

        </div>

        <div class="row mb-2">
            <div class="col">
                <label class="form-label" for="">Количество взрослых</label>
                <input type="number" class="form-control" min="0" th:field="*{adultsAmount}" id="adults" required/>
            </div>
            <div class="col">
                <label class="form-label" for="">Количество детей</label>
                <input type="number" class="form-control" min="0" th:field="*{childrenAmount}"/>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                <label class="form-label" for="">Платные услуги</label>
                <div class="form-check" th:each="service : ${paidServices}">
                    <input class="form-check-input" type="checkbox" name="selectedPaidServices"
                           th:value="${service.id}"
                           th:text="${service.name}"/>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                <label class="form-label" for="needExtraBed">Дополнительное спальное место</label>
                <input class="form-check-input" type="checkbox" id="needExtraBed">
            </div>
            <div class="col">
                <div id="extraBedBlock" style="display: none;">
                    <select class="form-select" name="selectedExtraBed">
                        <option value="" selected hidden>Выберите</option>
                        <option th:each="type : ${bedTypes}"
                                th:value="${type.id}"
                                th:text="${type.name}">
                        </option>
                    </select>
                </div>
            </div>
        </div>


        <div>
            <button type="submit" class="btn btn-primary">Продолжить</button>
            <button th:href="@{/booking}" class="btn btn-outline-primary">Отмена</button>
        </div>
    </form>

</div>
<!-- Подключение скриптов -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>
const checkInDate = document.getElementById("check_in_date");
const checkOutDate = document.getElementById("check_out_date");

checkInDate.min = new Date().toISOString().split("T")[0];

checkInDate.addEventListener("input", function() {
    const nextDay = new Date(this.value);
    nextDay.setDate(nextDay.getDate() + 1);
    checkOutDate.min = nextDay.toISOString().split("T")[0];
});

needExtraBed.addEventListener('change', () => {
    const extra_bed_cb = document.getElementById('needExtraBed');
    const extra_bed_div = document.getElementById('extraBedBlock');
    if (extra_bed_cb.checked) {
        extra_bed_div.style.display = 'block';
    } else {
        extra_bed_div.style.display = 'none';
    }
});

selectRoomType.addEventListener('change', function() {
    const amountRooms = document.getElementById("amountRooms");
    const adults = document.getElementById("adults")
    amountRooms.disabled = false;
    amountRooms.min = 1;
    amountRooms.value = 1;
    adults.min = 1;
    adults.value = 1;
});








</script>
</body>
</html>
