<!DOCTYPE html>
<!-- Подключение thymeleaf и thymeleaf для Spring Security -->
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Подключение Bootstrap -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <title>HMS: Booking List</title>
</head>
<body>
<header th:insert="blocks/navbar :: navbar"></header>
<div class="container">
    <h1 class="mb-4">Список гостей</h1>

    <form action="#" method="get">
        <div class="input-group mb-4">
            <input type="text" class="form-control" name="" placeholder="ФИО клиента" required/>
            <button class="btn btn-primary" type="submit">Поиск</button>
        </div>
    </form>

    <div class="d-flex justify-content-md-end mb-3">
        <a class="btn btn-success" th:href="@{/guest/add}">Добавить</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>№ п/п</th>
                <th>ФИО</th>
                <th>Страна</th>
                <th>Город</th>
                <th>Телефон</th>
                <th>email</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="g, i : ${guests}">
                <th scope="row" th:text="${i.count}"></th>
                <td th:text="${g.surname} + ' ' + ${g.name} + ' ' + ${g.patronymic}"></td>
                <td th:text="${g.registeredAddress.street.city.region.country} ? ${g.registeredAddress.street.city.region.country.name} : '-'"></td>
                <td th:text="${g.registeredAddress.street.city} ? ${g.registeredAddress.street.city.name} : '-'"></td>
                <td th:text="${g.phoneNumber}"></td>
                <td th:text="${g.email}"></td>
                <td>
                    <a class="btn btn-secondary" th:href="@{/guest/info/{id}(id=${g.id})}">Подробнее</a>
                    <a class="btn bg-primary-subtle" th:href="@{/guest/edit/{id}(id=${g.id})}">Редактировать</a>
                    <a class="btn btn-danger" th:href="@{/guest/delete/{id}(id=${g.id})}">Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Подключение скриптов -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
